body {
    font-family: sans-serif;
    margin: 0px;
}

/* NAVBAR */
#nav {
    background-color: rgb(189, 205, 219);
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-items-cont {
    display: flex;
}

.nav-item {
    margin-left: 15px;
}

/* SECTIONS */
.section {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.section-title {
    width: 25%;
}

#work-cont {
    display: flex;
    flex-wrap: wrap;
}

.placeholder, img {
    width: 300px;
    height: 200px;
    background-color: rgb(214, 214, 214);
    margin: 20px;
}

#contact-cont {
    display: flex;
}

.contact-item {
    margin: 0px 10px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(189, 205, 219);
    color: white;
}
#completed {
    display:none;
    
}
#timeElement {
    text-align: right;
}
#answers li,button    {
    list-style-type: none;
    background-color: blueviolet;
    border-radius: 10px;
    max-width: 300px;
    display:block;
    margin: 10px;
    padding: 5px;

}

#question   {
font-size: 20px;



}
#timeElement    {
display:flex;
justify-content: space-between;
flex-direction:row;

}